### TLA+ ###
# Reference: https://github.com/jameshfisher/tlaplus/blob/master/.gitignore

# TLA+ Toolbox
# Exclude all files related to TLA+ Toolbox
*.toolbox/**

# TLA+ Toolbox models

# PlusCal
*.old
*.cfg

# TLC output
states/

# LaTex output
*.toolbox/*aux
*.toolbox/*.log
*.toolbox/*.pdf
*.toolbox/*.tex
*aux
*.log
*.pdf
*.tex
