name: Build

on: [push]

jobs:

  compile:
    name: Compile
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v3.3.0
        with:
          node-version: 14
      - run: npm ci
      - run: npm run build
