name: Docs

on:
  push:
    branches:
      - main

jobs:

  adrs:
    name: ADRs
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 14
      - run: npm ci
      - run: npx log4brains build --basePath /${GITHUB_REPOSITORY#*/}/adrlogs
      - uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages
          folder: .log4brains/out
          target-folder: adrlogs
