name: Lint

on: [push]

jobs:

  lint-conventions:
    name: ESLint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14
      - run: npm ci
      - run: npm run lint
      - run: if [ -n "$(git status --porcelain)" ]; then exit 1; fi

  lint-security:
    name: CodeQL
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: github/codeql-action/init@v2
      with:
        languages: javascript
    - uses: github/codeql-action/analyze@v2
