name: Test

on: [push]

jobs:

  test-specs:
    name: Jest
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14
      - run: docker-compose up -d
      - run: npm ci
      - run: npm run test

  test-build:
    name: TSC
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v2.1.5
        with:
          node-version: 14
      - run: npm ci
      - run: npm run build
      - run: cd test/build && npm install
      - run: npm run test:build
